<div class="jumbotron">
  <h2>Welcome to Listener!</h2>
  <p><%= t('index.summary') %></p>
  <p>
    <%= link_to 'Create', new_room_path, :class => 'btn btn-success btn-lg' %>
    <%= link_to 'Join', rooms_path, :class => 'btn btn-primary btn-lg' %>
  <p>
</div>
