<div class="room-list">
  <ul>
    <% @room.stations.each do |s| %>
      <%= button_to s.station_name, { action: 'set_station_id', station_id: s.station_id}, remote: true %>
    <% end %>
  </ul>
</div>

<div id="audio-player">
  <audio controls>
    <source src=<%=@room.song_url_list.first%>>
  </audio>
</div>
