<div class="room-list">
  <ul>
    <% @room.stations.each do |s| %>
      <%= @room.decorate.play_station(s) %>
    <% end %>
  </ul>
</div>

<div id="audio-player">
  <audio controls autoplay>
    <source src=<%= @room.song_url_list.first %>>
  </audio>
</div>

<div id="song-info">
  <span id="song-name"><%= @room.song_name_list.first %></span>:
  <span id="song-album"><%= @room.album_name_list.first %></span>
</div>
